@import "../../styles/responsive.mixin.scss";

.section {
    background-color: #ecf2f8;
    box-sizing: border-box;
    padding: 5% 0%;
    height: max-content;
    @include respond(small){
        margin: 15% 0;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url(../../images/wave.svg);
        background-repeat: no-repeat;
        z-index: -1;
        width: 100%;
        height: 80%;
        margin-top: -27%;
        background-size: 100%;
    }
    .title {
        text-align: center;
        margin: 0;
        padding: 20px 0;
        margin:2rem 0;
    }
    .gridContainer {
        display: grid;
        @include respond(small){
            &{
                margin: 6rem 0 5rem 0;
            }
        }
        grid-template-columns: repeat(7, minmax(18.8%, 1fr));
        grid-template-rows: repeat(2, 45%);
        grid-gap: 20px;
        align-content: center;
        margin: 3% 5%;
        height: max-content;
        @include respond(medium) {
            grid-template-columns: repeat(6, minmax(10%, 1fr));
            grid-template-rows: repeat(3, minmax(max-content, 32%));

            height: 125vh;
            height: 160vh;
        }
        @include respond(small) {
            grid-template-columns: repeat(6, minmax(10%, 1fr));
            grid-template-rows: repeat(4, minmax(max-content, 32%));

            // height: 125vh;
            // min-height: 300rem;
            height: 200vh;
        }
    }
}
