@import "../layout.module.scss";

.nosotros {
    // height: max-content;
    height: max-content;
    background: #121f3d;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    position: relative;
    // margin: 5rem 0;


    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        z-index: 3;
    }

    .title {
        margin: 0;
        padding: 4% 0 0 1%;
        font-size: 30px;
        position: relative;
        align-self: center;
        justify-self: flex-start;
        text-align: center;
        color: $fontColor;
    }

    .nosotrosContent {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 90vh;
        box-sizing: border-box;

        .lineContainer {
            width: 94%;
            height: max-content;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: auto;
            // top: 35%;
            // margin: 50vh auto;
            align-self: center;
            justify-self: center;
            // justify-content: center;
            // justify-items: center;
            background-color: #24385b;
            // height: 100%;
            position: relative;

            .lineTime {


                background: transparent;
                padding: 16px 0 16px 24px;
                border-left: 3px solid #33b1ff66;
                position: relative;

                &:nth-child(2n-1) {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;

                    & :last-child {
                        // margin-top: 10rem;
                        margin-top: 0;
                        bottom: 100%;
                    }
                }



                .line {
                    position: absolute;
                    margin-top: 30px;
                    height: 10px;
                    width: 10px;
                }

                .titleLine {
                    font-size: 1.6rem;
                    display: block;
                    color: #53aae0c0;
                    font-weight: 700;
                    margin: -10px;
                    width: 100%;
                    z-index: 3;
                }

                .contentLine {
                    color: #7ec4f0c0;
                    position: absolute;
                    margin-top: 16px;
                    margin-left: -27px;
                    display: flex;
                    flex-direction: column;
                    border-left: 3px solid #33b1ffc0;

                    .contentLineItem {
                        padding-left: 1rem;
                        box-sizing: border-box;
                        line-height: 1.5;

                        & p {
                            margin: 24px 0;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:750px) {
    .nosotros {
        .nosotrosContent {

            .lineContainer {
                grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
                grid-template-columns: 1fr;

                position: relative;
                top: 0%;
                height: 87%;
                margin: 2% auto;
                background: transparent;

                .lineTime {


                    border: none;
                    margin: 0;
                    padding: 0 0 0 48px;

                    &:nth-child(2n-1) {
                        flex-direction: column;

                        & :last-child {
                            margin-top: 0;
                            margin: auto 0;
                            bottom: 0%;
                        }
                    }


                    .line {
                        display: block;
                        margin: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        padding: 0;
                        width: 20px;
                        height: 100%;
                        background-color: #24385b;
                    }



                    .contentLine {
                        margin: auto 0;
                        border: none;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        height: 100%;

                        .contentLineItem {
                            font-size: 13px;
                            line-height: normal;
                            margin-left: -27px;

                            & p {
                                position: relative;
                                font-size: 16px;
                            }
                        }
                    }

                    .movileMark {
                        background-color: #33b1ffc0;
                        display: inline;
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        width: 30px;
                        height: 6px;
                    }

                }
            }
        }

    }
}

@media screen and(max-width:375px) {
    .nosotros {

        height: 120vh;
        
        .nosotrosContent {
            height: 100%;
        }
    }
}

@media screen and(max-height:400px) {
    .nosotros {
        height: 182vh;

        .nosotrosContent {
            height: 100%;
        }
    }
}

@media screen and(max-height:320px) {
    .nosotros {
        height: 100vw;

        .nosotrosContent {
            height: 100%;
        }
    }
}