.galeria {
    height: 120vh;
    width: 100%;
 
    & .title {
        text-align: center;
    }
}

@media only screen and(max-width:550px){
    .galeria{
        height: 82vh;
    }
}
@media only screen and(max-width:385px){
    .galeria{
        height: 54vh;
    }
}