@import "../layout.scss";

.header {
    // background-image: url();
    // background-color: rgb(240, 28, 28);
    height: 89.4vh;
    width: 100%;
    margin-top: 70px;
    position: relative;

    .images {

        height: inherit;
        width: inherit;
        // position: relative;
        display: flex;
        $widtImages: 100%;

        .img:first-child {
            // position: absolute;
            height: inherit;
            width: $widtImages;
            object-fit: cover;


            // clip-path: polygon(16% 100%, 63% 101%, 83% 0%, 33% 0%);
        }


        .filtro {
            height: 100%;
            width: 100%;
            position: absolute;
            background: linear-gradient(to right, transparent, $cuartoColorVariant);
        }
    }


    .textos {
        position: absolute;
        color: #162146;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: inherit;
        width: 100%;

        .textContainer {
            margin-right: 20px;
            padding: 10px;

            width: 45%;

            .title {
                text-align: start;
                margin: 0;
                font-size: 35px;
                font-weight: 800;

            }

            .parrafo {
                width: 100%;
                font-size: 20px;
                // padding-left: 30px;
                text-align: start;
            }


        }

        .button {
            display: flex;
            background-color:#ffffffc9;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 8%;
            border-radius: 13px;
            margin-right: 20%;
            border: none;
            width: 15%;
            text-decoration: none;
            color: rgb(6, 3, 58);
            min-width: 90px;
            box-shadow: -6px 3px 11px 0px;
            transition: background-color .5s;
            font-size: 18px;
            &:hover{
                 
                background-color: #6c63f7ec;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header {
        .images {

            .filtro {
                background: none;
            }
        }

        .textos {
            // position: relative;
            justify-content: flex-end;
             .textContainer {

                background-color: #ffffffa8;
                box-sizing: border-box;
                padding: 10px 10px;
                width: 100%;
                border-radius: unset;
                text-align: justify;
                margin-right: 0;

                .title {
                    text-align: center;

                    margin: 0;
                    font-size: 25px;
                }

                .parrafo {
                    text-align: justify;
                    width: 100%;
                }
            }
            .button{
                position: absolute;
                align-self: center;
                margin: 0 0 200px 0;
                
            }
        }
    }
}

@media only screen and (max-width:425px) {
    .images {

        // height: inherit;
        // width: inherit;
        position: relative;

        .img:first-child {
            position: absolute;
            // height: inherit;
            width: 100%;
            object-fit: cover;
        }

        .img:nth-child(2) {
            position: absolute;
            // height: inherit;
            width: 80%;
            object-fit: cover;

            // object-position: right;
            // z-index: -3;
        }

        .img:nth-child(3) {
            position: absolute;
            height: inherit;
            width: 52%;
            object-fit: cover;
            align-self: flex-end;
            object-position: center;
            right: 0;

        }

        .filtro {
            background: none;
        }

    }

    .header {


        .textos {
            justify-content: flex-end;
            align-items: center;
            .textContainer {
                background-color: #ffffffa8;
                box-sizing: border-box;
                padding: 10px 10px;
                width: 100%;
                border-radius: unset;
                text-align: justify;

                .title {
                    margin: 0;
                    font-size: 20px;
                }

                .parrafo {
                    width: 100%;
                    font-size: 15px;
                }
            }
            .button{
                // background-color: red;
                // position: relative;
                // align-self:unset;
                margin-bottom: 44%;
            }
        }
    }
}