// navbar
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
$primaryColor:#787fff;
$secondaryColor: #737afd;
$terciaryColor:#044389;
$cuartoColor:#7378d3;
$primaryColorVariant:#2320e086;
$cuartoColorVariant:#ffffff;
$details:rgb(228, 228, 228);
$bordeLink: 5px;
$fontColor:#fff;
// width

$widthNavbar:120px;
:root{

    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;

}
